@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import './variables.scss';

.title{
    font-size: 40px;
    text-align: center;
    margin: 50px 0;
    color: $color-primary;
}

body {
    font-family: $font-text;
    color: $color-text;
    margin-bottom: 1rem;

    a{
        word-wrap: break-word;
        text-decoration: none;
    }
}

// #btn-back-to-top {
//     display: inline-block;
//     background-color: #FF9800;
//     width: 50px;
//     height: 50px;
//     text-align: center;

//     border-radius: 4px;
//     border: none;

//     position: fixed;
//     bottom: 30px;
//     right: 30px;
//     transition: background-color .3s, 
//         opacity .5s, visibility .5s;
//     opacity: 0;
//     visibility: hidden;
//     z-index: 1000;

//     &:after{
//         content: "\f077";
//         font-family: FontAwesome;
//         font-weight: normal;
//         font-style: normal;
//         font-size: 2em;
//         line-height: 50px;
//         color: #fff;
//     }

//     &:hover{
//         cursor: pointer;
//         background-color: #333;
//     }

//     &.show{
//         opacity: 1;
//         visibility: visible;
//     }
// }