$font-name: 'Ephesis', cursive;
$font-text: 'Space Mono', monospace;
$color-primary: #FF9000;
$color-text: #4d4d4d;
$color-text-note: #bfbfbf;
$color-linear-gradient: linear-gradient(to right,rgba(255,62,28,.5) ,rgba(255,62,28,.63) ,#ff8c00 );